<div class="well">
<h2 id="schema">Stead container types [Rubenstein]</h2>
<p>These are the allowable values for container types in the Rubenstein Library. These values correspond to the controlled value list for container types maintained in ArchivesSpace</p>
<dl>
  <dt>artifactbox</dt>
<dd></dd>
<dt>audio-cassette</dt>
<dd></dd>
<dt>audio-cd</dt>
<dd></dd>
<dt>audio-disc</dt>
<dd></dd>
<dt>audio-file</dt>
<dd></dd>
<dt>audio-phonodisc</dt>
<dd></dd>
<dt>audio-reel</dt>
<dd></dd>
<dt>box</dt>
<dd></dd>
<dt>carton</dt>
<dd></dd>
<dt>case</dt>
<dd></dd>
<dt>cassette</dt>
<dd></dd>
<dt>cassette-box</dt>
<dd></dd>
<dt>cd</dt>
<dd></dd>
<dt>cigar-box</dt>
<dd></dd>
<dt>data-cd</dt>
<dd></dd>
<dt>disk</dt>
<dd></dd>
<dt>drawer</dt>
<dd></dd>
<dt>dvd</dt>
<dd></dd>
<dt>e-folder</dt>
<dd></dd>
<dt>film</dt>
<dd></dd>
<dt>film-reel</dt>
<dd></dd>
<dt>folder</dt>
<dd></dd>
<dt>frame</dt>
<dd></dd>
<dt>framed-item</dt>
<dd></dd>
<dt>freezer</dt>
<dd></dd>
<dt>image</dt>
<dd></dd>
<dt>index-box</dt>
<dd></dd>
<dt>item</dt>
<dd></dd>
<dt>map-case</dt>
<dd></dd>
<dt>ms</dt>
<dd></dd>
<dt>nitrate-cabinet</dt>
<dd></dd>
<dt>notebook</dt>
<dd></dd>
<dt>object</dt>
<dd></dd>
<dt>optical-disc</dt>
<dd></dd>
<dt>oversize-box</dt>
<dd></dd>
<dt>oversize-cabinet</dt>
<dd></dd>
<dt>oversize-film-can</dt>
<dd></dd>
<dt>oversize-folder</dt>
<dd></dd>
<dt>oversize-image</dt>
<dd></dd>
<dt>page</dt>
<dd></dd>
<dt>print</dt>
<dd></dd>
<dt>reel</dt>
<dd></dd>
<dt>scrapbook</dt>
<dd></dd>
<dt>server</dt>
<dd></dd>
<dt>slide-box</dt>
<dd></dd>
<dt>tape</dt>
<dd></dd>
<dt>tube</dt>
<dd></dd>
<dt>vault</dt>
<dd></dd>
<dt>video-cassette</dt>
<dd></dd>
<dt>video-disc</dt>
<dd></dd>
<dt>video-file</dt>
<dd></dd>
<dt>video-reel</dt>
<dd></dd>
<dt>videotape</dt>
<dd></dd>
<dt>volume</dt>
<dd></dd>

</dl>
</div>